make distclean
rm -f ssh sshd sshdkey scp
CFLAGS="-DLTC_NO_BSWAP -combine -fwhole-program" ./configure \
--disable-shadow \
--disable-lastlog \
--disable-utmp \
--disable-utmpx \
--disable-wtmp \
--disable-wtmpx \
--disable-loginfunc \
--disable-pututline \
--disable-pututxline \
--prefix=/usr --disable-nsl --build=i386-mybox-linux --host=i386-mybox-linux \
--sysconfdir=/etc

make PROGRAMS="dropbear dropbearkey"
mv -v dropbear sshd
mv -v dropbearkey sshdkey
