make distclean
./configure --prefix=/mfs-gcc --disable-nsl --build=i386-mybox-linux --host=i386-mybox-linux
rm -fv /mfs-gcc/lib/libdnet*
make uninstall
make install

rm -fv /mfs-gcc/lib/libdnet.1
rm -fv /mfs-gcc/lib/libdnet
mv -v /mfs-gcc/lib/libdnet.1.0.1 /mfs-gcc/lib/libdnet.so.1.0.1
ln -sf /mfs-gcc/lib/libdnet.so.1.0.1 /mfs-gcc/lib/libdnet.so.1 
ln -sf /mfs-gcc/lib/libdnet.so.1.0.1 /mfs-gcc/lib/libdnet.so
ln -sf /mfs-gcc/lib/libdnet.so.1.0.1 /mfs-gcc/lib/libdnet
