make distclean
export CFLAGS="-combine -fwhole-program"
./configure --prefix=/usr \
--disable-nsl --build=i386-mybox-linux --host=i386-mybox-linux \
--with-libnet-includes=/mfs-gcc/include \
--with-libnet-libraries=/mfs-gcc/lib \
--with-dnet-includes=/mfs-gcc/include \
--with-dnet-libraries=/mfs-gcc/lib \
--enable-gre \
--enable-pthread \
--enable-stream4udp \
--enable-dynamicplugin
#--enable-inline \
#--with-libipq-includes=/usr/src/iptables/include/libipq \
#--with-libipq-libraries=/usr/src/iptables/libipq
#--enable-flexresp2 \
#--enable-react \
#--disable-dynamicplugin
#--with-libpcap-includes=/mfs-gcc/include \
#--with-libpcap-libraries=/mfs-gcc/lib

#for f in $(find . -name Makefile); do
#	[ -f "$f" ] && perl -pi -e 's/-lpcap/\/mfs-gcc\/lib\/libpcap.a/' $f
#done
make
