body {
	font-family: Arial, Verdana,  Helvetia, Sans-Serif;
	font-size: 12px;
	background-color: #a7a7a7;
	background-image: url(bg.png);
}

div, table, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

img {border: 0px;}

div#top_box {
	overflow: hidden; 
	position: absolute; 
	left: 2px; top: 2px; 
	width: 982px;
	height: 113px; 
	background-image: url(box_top.png);
	background-position: left;
	background-attachment: scroll;
	background-repeat: repeat-x;
}

div#login_box {
	overflow: hidden; 
	position: absolute; 
	left: 2px; top: 115px; 
	width: 982px;
	height: 364px; 
	background-image: url(box_login.png);
	background-position: left;
	background-attachment: scroll;
	background-repeat: repeat-x;
}

div#login_input {
	overflow: hidden; 
	position: absolute; 
	left: 415px; 
	top: 141px; 
	vertical-align: middle;
	border: 1px #000 solid;
	width: 125px; 
	height: 16px;
}

input#login_pass {
	position: relative;
	width: 125px; 
	height: 15px;
	border: 0px;
	background: #ffffff;
}

div#login_submit {
	cursor: pointer;
	position: absolute;
	left: 555px; 
	top: 140px; 
	width: 65px; 
	height: 19px;
	border: 1px #000 solid;
}

div#main_box {
	overflow: hidden; 
	position: absolute; 
	left: 2px; top: 115px; 
	width: 982px;
	height: 582px; 
	background-image: url(box_content.png);
}

div#dashboard {
	overflow: hidden; 
	position: absolute; 
	left: 10px; top: 82px;
	cursor: pointer;
	background-image: url(dashboard.png);
	width: 149px;
	height: 27px; 
}

div#box_title {
	overflow: hidden; 
	position: absolute; 
	left: 160px; top: 90px;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
}

div#admin_info {
	overflow: hidden; 
	position: absolute; 
	left: 860px; top: 15px;
	font-size: 11px;
	color: #ffffff;
	border: 1px #fff solid;
	width: 112px;
	height: 15px;
}

div#toolbox {
	overflow: hidden; 
	position: absolute; 
	left: 860px; top: 40px;
	background-image: url(toolbox.png);
	width: 112px;
	height: 26px;
}

div#toolbox_a {
	overflow: hidden; 
	position: absolute; 
	left: 12px; top: 0px;
	cursor: pointer;
	border: 1px #fff solid;
	width: 24px;
	height: 24px; 
}

div#toolbox_b {
	overflow: hidden; 
	position: absolute; 
	left: 40px; top: 0px;
	border: 1px #fff solid;
	cursor: pointer;
	width: 24px;
	height: 24px; 
}

div#toolbox_c {
	overflow: hidden; 
	position: absolute; 
	left: 70px; top: 0px;
	border: 1px #fff solid;
	cursor: pointer;
	width: 25px;
	height: 24px; 
}

div#loading {
	overflow: hidden; 
	position: absolute; 
	left: 862px; top: 65px;
	background-image: url(prosesbar.gif);
	border: 0px;
	width: 124px;
	height: 15px;
	color: #ffffff;
}

div#content_box {
	overflow: auto;
	position: absolute; 
	left: 156px; top: 1px;
	width: 825px;
	height: 580px;
	padding: 0px;
}
div#content_page {
	position: related; 
	width: 822px;
	height: 580px;
	padding: 0px;
}