body, td, th, span, input, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
}
a {
	color: #cc0000;
	text-decoration: underline;
}
a:hover {
	color: #cc0000;
	font-weight: normal;
	text-decoration: underline;
}
#splash {
	border: 1px solid #555577;
	color: #CCCCFF;
	background-color: #FFFFFF;
}
#splash td.artwork {
	line-height: 15px !important;
	padding: 15px 100px 20px 20px;
}
#splash td.title {
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/gradientBlack21.gif);
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	line-height: 11px;
	background-color: #000000;
	padding: 1px;
}
#splash td.panel {
	line-height: 16px!important;
	border-top: solid 1px #FFFFFF;
	border-right: solid 1px #bbbbdd;
	border-bottom: solid 1px #ddddbb;
	border-left: solid 1px #FFFFFF;
	padding: 2px 8px;
	color: #111133;
}
#splash td.panelRight {
	line-height: 16px!important;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bbbbdd;
	border-left: 1px solid #FFFFFF;
	padding: 2px 8px;
	color: #111133;
}
#splash td.panelBottom {
	line-height: 16px!important;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: solid 1px #bbbbdd;
	padding: 2px 8px;
	color: #111133;
}
#splash td.panelBottomRight {
	line-height: 16px!important;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding: 2px 8px;
	color: #111133;
}
#splash span.headlineWhite {
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	font-style: italic;
	padding-bottom: 5px;
	line-height: 40px;
	padding-top: 5px;
}
#splash span.copyWhite {
	font-size: 16px;
	color: #FFFFFF;
	line-height: 24px;
}
#splash li.listWhite {
	list-style-image: url(../images/arrowWhite.gif);
	color: #FFFFFF;
}
#splash span.headlineBlack {
	font-size: 30px;
	font-weight: bold;
	color: #000000;
	line-height: 40px;
	font-style: italic;
}
#splash span.copyBlack {
	font-size: 16px;
	color: #000000;
	line-height: 24px;
}
#splash li.listBlack {
	list-style-image: url(../images/arrowBlack.gif);
	color: #000000;
}
#splash span.panelTitle {
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}
#splash span.more {
	color: #cc0000;
	font-weight: bold;
}
#splash span.cornellCopy {
	line-height: 17px!important;
	color: #000000;
	font-weight: bold;
}
#menu {
	border: 1px solid #000000;
	background-color: #000000;
}
#menu td {
	background-image: url(../images/gradientBlack21.gif);
	border-left: 1px solid #777777;
	border-top: 1px solid #777777;
	border-right: 1px solid #000000;
}
#submenu {
	border: 1px solid #777799;
}
#submenu td.title {
	background-image: url(../images/gradientBlack21.gif);
	line-height: 11px important;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #555555;
}
#submenu a.title {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
}
#submenu td.itemBottom {
	line-height: 15px !important;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding-right: 8px;
	color: #000000;
}
#submenu td.item {
	line-height: 15px !important;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #777799;
	border-left: 1px solid #FFFFFF;
	color: #000000;
	padding-right: 8px;
	padding-left: 8px;
}
#submenu a.mainItem {
	color: #cc0000;
	text-decoration: none;
	width: 120px;
	font-weight: bold;
}
#submenu a.item {
	color: #cc0000;
	text-decoration: none;
	width: 120px;
}
#submenu a.item:hover {
	color: #cc0000;
	text-decoration: underline;
	width: 120px;
}
#submenu a.itemSelected {
	font-weight: bold;
	color: #000000;
	width: 120px;
	text-decoration: none;
}
#submenu a.itemSelected:hover {
	font-weight: bold;
	color: #000000;
	width: 120px;
	text-decoration: none;
}
#submenu li {
	list-style-image: url(../images/arrowBlack.gif);
}
#integratedMenu td.item {
	line-height: 15px !important;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bbbbdd;
	border-left: 1px solid #FFFFFF;
	border-right: solid 1px #bbbbdd;
	color: #000000;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
}
#integratedMenu td.itemDisabled {
	line-height: 15px !important;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bbbbdd;
	border-left: 1px solid #FFFFFF;
	border-right: solid 1px #bbbbdd;
	color: #8888aa;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
}
#integratedMenu td.itemSelected {
	line-height: 15px !important;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bbbbdd;
	border-left: 1px solid #FFFFFF;
	border-right: solid 1px #bbbbdd;
	font-weight: bold;
	color: #000000;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
}
#integratedMenu td.itemBottom {
	line-height: 15px !important;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: solid 1px #bbbbdd;
	color: #000000;
	padding-right: 8px;
	padding-left: 8px;
}
#integratedMenu a.breadcrumb {
	color: #000000;
	text-decoration: none;
}
#integratedMenu a.breadcrumb:hover {
	color: #000000;
	text-decoration: underline;
}
#integratedMenu a.item {
	color: #cc0000;
	text-decoration: none;
	width: 125px;
}
#integratedMenu a.item:hover {
	color: #cc0000;
	text-decoration: underline;
	width: 125px;
	font-weight: normal;
}
#integratedMenu a.itemSelected {
	font-weight: bold;
	color: #000000;
	width: 125px;
	text-decoration: none;
}
#integratedMenu a.itemSelected:hover {
	font-weight: bold;
	color: #000000;
	width: 125px;
	text-decoration: none;
}
#content table,td,th {
	line-height: 18px;
	color: #444444;
}
a.pageControl, a.pageControl:hover {
	color: #990000;
	text-decoration: none;
}
span.pageControlDisabled {
	color: #AAAAAA;
	text-decoration: none;
}
#systemTable {
	background-color: #FFFFFF;
	border: 1px solid #555577;
}
#systemTable th.title {
	color: #FFFFFF;
	text-align: left;
	font-weight: normal;
	background-image: url(../images/gradientBlack21.gif);
	line-height: 11px important;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-image: url(../images/gradientBlack21.gif);
	background-color: #000000;
	padding: 1px;
}
#systemTable a.pageAll, a.pageAll:hover {
	color: #FFCC00;
	text-decoration: none;
}
#systemTable td.header {
	color: #000000;
	font-weight: bold;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	text-align: center;
}
#systemTable td.headerRight {
	color: #000000;
	font-weight: bold;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	text-align: center;
}
#systemTable td.headerSort {
	color: #000000;
	background-image: url(../images/gradientBlueHighlight25.gif);
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #bbbbdd;
	border-bottom: 1px solid #bbbbdd;
	border-left: 1px solid #FFFFFF;
}
#systemTable a.sortItem, a.sortItem:hover {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
#systemTable tr.rowSelected {
	background-color: #eeee00;
}
#systemTable td.data {
	color: #000000;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #FFFFFF;
	padding-left: 4px;
}
#systemTable td.dataRight {
	color: #000000;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #FFFFFF;
	padding-left: 4px;
}
#systemTable td.dataRightError {
	color: #990000;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #FFFFFF;
	padding-left: 4px;
}
#systemTable td.dataDisabled {
	color: #777777;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #FFFFFF;
	padding-left: 4px;
}
#systemTable td.dataDisabledRight {
	color: #777777;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #FFFFFF;
	padding-left: 4px;
}
#systemTable td.footer, #userForm td.footer {
	text-align: center;
	background-image: url(../images/gradientBlack21.gif);
	border: 1px solid #000000;
	background-color: #000000;
	padding: 1px;
}
#systemTable td.bottom {
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style: italic;
	color: #cc0000;
	text-align: center;
}
#systemTable a.footerLink, #userForm a.footerLink, #systemTable a.footerLink:hover, #userForm a.footerLink:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#systemForm {
	border: 1px solid #777799;
}
#systemForm tr.row1 {
	background-color: #EEEEEE;
}
#systemForm tr.row2 {
	background-color: #FFFFFF;
}
#systemForm td {
	color: #000000;
}
#systemForm th.title {
	background-color: #000000;
	padding-left: 4px;
	text-align: left;
	font-weight: normal;
	color: #FFFFFF;
	background-image: url(../images/gradientBlack21.gif);
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}
#systemForm th.titleRight {
	color: #FFFFFF;
	font-weight: normal;
	background-color: #000000;
	border-bottom: 1px solid #000000;
	padding-right: 12px;
	text-align: right;
}
#systemForm tr.hidden {
	display: none;
}
#systemForm tr.show {
	display: inline;
}
#systemForm td.header {
	color: #000000;
	font-weight: normal;
	border-bottom: solid 1px #BBBBDD;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-right: solid 1px #BBBBDD;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
}
#systemForm td.headerBottom {
	color: #000000;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-right: solid 1px #BBBBDD;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
}
#systemForm label.link {
	text-decoration: underline;
}
#systemForm td.headerDisabled {
	color: #aaaaaa;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: solid 1px #BBBBDD;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-right: solid 1px #BBBBDD;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
}
#systemForm th.header {
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #C6C6DA;
	text-align: center;
	font-weight: bold;
	color: #000000;
}
#systemForm th.headerRight {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #C6C6DA;
	text-align: center;
	font-weight: bold;
	color: #000000;
}
#systemForm td.error {
	background-color: #EBD7D7;
	color: #553333;
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #999977;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#systemForm td.element {
	color: #000000;
	border-left: solid 1px #FFFFFF;
	border-bottom: solid 1px #BBBBDD;
	border-right: solid 1px #BBBBDD;
	border-top: solid 1px #FFFFFF;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#systemForm td.elementRight {
	color: #000000;
	border-left: solid 1px #FFFFFF;
	border-bottom: solid 1px #BBBBDD;
	border-top: solid 1px #FFFFFF;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#systemForm td.elementBottom {
	color: #000000;
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	border-right: solid 1px #BBBBDD;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#systemForm td.elementBottomRight {
	color: #000000;
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#systemForm td.elementMessage {
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	border-right: solid 1px #BBBBDD;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style: italic;
	color: #990000;
	text-align: center;
}
#systemForm td.bottom {
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style: italic;
	color: #990000;
	text-align: center;
}
#systemForm td.bottomRight {
	border-left: solid 1px #FFFFFF;
	border-top: solid 1px #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style: italic;
	color: #990000;
	text-align: center;
}
#systemForm a.orderControl {
	font-family: Webdings;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	border: solid 1px #BBBBDD;
	background-color: #ffffff;
	text-align: center;
	width: 18px;
}
#systemForm a.addRemoveControl {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	border: solid 1px #BBBBDD;
	background-color: #ffffff;
	width: 18px;
	text-align: center;
}
#systemForm span.required { 
	color: #aa0000;
	font-weight: bold;
} 
#systemForm label { 
	color: #000000;
	cursor: pointer; 
	cursor: hand; 
} 
#systemForm label.error { 
	color: #aa0000;
	cursor: pointer; 
	cursor: hand; 
} 
#systemForm label.large {
	font-size: 13px;
	font-weight: bold;
}
#systemForm input {
	padding: 1px 3px 1px 3px;
}
#systemForm input.blur, textarea.blur, select.blur {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #9999bb;
	padding: 1px 3px 1px 3px;
}
#systemForm input.focus, textarea.focus, select.focus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    border: 1px solid #111133;
	padding: 1px 3px 1px 3px;
}
#systemForm td.footer {
	text-align: center;
	border: 1px solid #000000;
	background-color: #000000;
	padding: 1px;
}
#systemForm a {
	color: #CC0000;
}
#list th.title {
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/gradientBlack21.gif);
	border: 1px solid #000000;
	line-height: 11px;
	background-color: #000000;
	padding: 1px;
	text-align: left;
}
#list td.item {
	border-bottom: 1px dotted #000000;
	padding: 4px;
}
#list tr.row1 {
	background-color: #EEEEEE;
}
#list tr.row2 {
	background-color: #FFFFFF;
}
#list td.bottom {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
span.heading {
	font-size: 16px;
	font-weight: bold;
	color: #991200;
}
li.bullets {
	list-style-image: url(../images/arrow.gif);
}
.planDescription {
	font-style: italic;
}
#chart td, th {
	background: #FFFFFF;
}
#chart th.header {
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/gradientBlack21.gif);
}
#chart th.section {
	text-align: left;
	color: #000000;
	font-weight: bold;
	background-image: url(../images/gradientBlue25.gif);
}
#footer td.title{
	background-image: url(../images/gradientBlack21.gif);
	background-color: #000000;
}
#footer td.quicklinks {
	color: #FFFFFF;
}
#footer a {
	color: #FFFFFF;
	text-decoration: underline;
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#footer td.copyright {
	font-style: italic;
	color: #FFFFFF;
}
#footer td.contact{
	color: #FFFFFF;
}
tr.row1 {
	background-color: #EEEEEE;
}
tr.row2 {
	background-color: #FFFFFF;
}
.image {
	border: 1px solid #000000;
}
input.button {
	border: 1px outset;
	background-image: url(../images/gradientBlue25.gif);
	backgroung-image: repeat-x;
	font-size: 9px;
	font-style: normal;
	color: #000000;
	cursor: pointer;
	margin: 0px 0px 0px 1px;
	padding: 1px 1px 1px 1px;
	width: 100px;
}
input.buttonSmall {
	border: 1px outset;
	background-image: url(../images/gradientBlue25.gif);
	backgroung-image: repeat-x;
	font-size: 9px;
	font-style: normal;
	color: #000000;
	cursor: pointer;
	margin: 0px 0px 0px 1px;
	padding: 1px 1px 1px 1px;
	width: 50px;
}