make distclean
./configure --prefix=/usr --disable-nsl --build=i386-mybox-linux --host=i386-mybox-linux \
--disable-openssl-version-check \
--exec-prefix=/usr \
--bindir=/bin \
--sbindir=/bin \
--libexecdir=/bin \
--sysconfdir=/etc/dns_resolver \
--datadir=/etc/dns_resolver \
--localstatedir=/var \
--mandir=/usr/man \
--infodir=/usr/info \
--without-openssl 
for f in $(find . -name Makefile); do
       [ -f "$f" ] && perl -pi -e 's/-lnsl//' $f
done
make
