make clean
./configure --prefix=/ --bindir=/bin --sbindir=/bin --sysconfdir=/etc \
--enable-small \
--without-x \
--disable-xbel \
--without-bzlib \
--enable-fastmem \
--without-zlib  \
--disable-backtrace \
--disable-nls \
--without-lua \
--enable-cgi \
--disable-mailcap \
--disable-formhist \
--disable-globhist \
--disable-sm-scripting \
--disable-nsl --build=i386-mybox-linux --host=i386-mybox-linux
make
