make distclean
CFLAGS="-combine -fwhole-program" ./configure --prefix=/usr/smb --disable-nsl --build=i386-mybox-linux \
--host=i386-mybox-linux \
--with-configdir=/etc/samba \
--with-privatedir=/strg/mybox/smb \
--with-lockdir=/strg/mybox/smb \
--with-piddir=/var/run \
--with-libdir=/usr/smb/lib \
--with-logfilebase=/var/log/smb \
--with-libsmbclient=no \
--with-utmp=no \
--with-winbind \
--disable-cups \
--with-syslog \
--with-included-popt \
--with-ads \
--with-ldap \
--with-sys-quotas=no \
--disable-xmltest


make
rm -rfv /usr/smb
make install
