make distclean
./configure  --without-openssl --disable-debugging --enable-static \
--with-default-snmp-version=1 \
--with-sysconfdir=/etc \
--with-sys-contact="MFS" \
--with-sys-location="MFS" \
--with-logfile=/var/log \
--disable-manuals \
--disable-scripts \
--disable-debugging \
--disable-mibs \
--with-persistent-directory=/var/run \
--enable-mini-agent \
--disable-privacy \
--disable-testing-code \
--disable-shared-version \
--disable-shared \
--enable-ipv6 \
--disable-nsl \
--build=i386-mybox-linux --host=i386-mybox-linux \
--with-out-transports='TCP Unix' \
--with-mib-modules='mibII/interfaces mibII/var_route'
make
